* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media screen and (max-width: 780px){
.container{
    display: flex;
    flex-flow : column wrap;
    justify-content: space-around;
    align-items: center;
}
html{
    border:solid rgb(13, 0, 128)
}  
.fond{
    width: 100%;
}
.titre {
    position: absolute;
    margin-top: 1px;
    width: 100px;
     
}
.texte{
    padding: 10%;
    background-color: black;
        width: 100%;
        text-align: center;
        color: white;
}
.formulaire{
    
    color: white;
}
.footer{
        background-color: black;
        width: 100%;
        text-align: center;
        font-size: 80%;
        color: white;
        position: fixed;
        bottom: 0;
}
body{
    
    
    background-repeat: no-repeat;
    background-color: black;
   
}
  }