* {
    font-family: 'Rowdies', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media screen and (max-width: 767px){
body {
    background-image: url("fondm.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(7, 6, 6);
    
}
main{
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 1fr .5fr;
    grid-template-areas: 
    "."
    "para"
    "recherche";
    justify-items: center; 
    align-items: center;  
}
main > p {

    grid-area: para;
    color: white;
    font-size: 22px;
    align-self: flex-end;
    padding: 0px 15px;  
  }
main > form{
    grid-area: recherche;
    color:white;
    font-size: 24px;
    align-self: flex-end;
}
footer{
    background-color: black;
    width: 100%;
    text-align: center;
    font-size: 80%;
    color: white;
    position: fixed;
    bottom: 0; 
}
}
@media screen and (min-width: 768px){
    body {
        border: solid rgb(39, 146, 12);
        background-image: url("tentures4.svg");
        background-size: 100vw;
        background-color: rgb(3, 3, 3); 
        display:grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 1fr 1.5fr 1fr;
        grid-template-areas: 
        ". . ."
        ". . loupe"
        ". formul .";          
    }
    main{
        background-color: #8F2527;
        padding: 8px;
        border-radius: 0 10px 10px 10px;
        text-align: center;
        grid-area: formul;
    }
    main > p {
        display:none;
        color: white;
        font-size: 26px;
        align-self: center; 
        padding: 0px 15px;  
    }
    main > form{
        display:none;
        color:white;
        align-self: flex-start;
        font-size: 24px;
    }
    .bouton{
        border-radius: 40px 40px 40px 40px;
        align-self: flex-end;
        justify-self: flex-end;
        grid-area: loupe;
        background-color: rgb(238, 255, 0);
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;  
    }
    .bouton > img{
        align-self: center;
    }
     footer{
        background-color: black;
        width: 100%;
        text-align: center;
        font-size: 80%;
        color: white;
        position: fixed;
        bottom: 0;   
    }
    }