body{
    background-image: url(tentures2.jpg);
    margin: 0;
}

footer{
    background-color: black;
    width: 100%;
    text-align: center;
    font-size: 80%;
    color: white;
    position: fixed;
    bottom: 0;
}




.recherche{

    background-color: #8F2527;
    color: white;
    border: groove 5px #8F2527;
    padding: 8px;
    border-radius: 0 10px 10px 10px;
    width: 45%;
    text-align: center;
    margin-left: 450px;
    margin-top: 520px;

}
.formulaire{
    background-color: #8F2527;
}
img{

    position: absolute;
    width: 290px;
    height: 290x;
    left: 625px;
    top: 185px;
}
